{:deps
 {:aliases [:dev]}

 :dev-http
 {8000 "classpath:public"}

 :builds
 {:main
  {:target     :browser
   :build-hooks [(shadow.cljs.build-report/hook)]
   :output-dir "resources/public/js"
   :devtools   {:repl-pprint true}
   :modules {:main {:entries [clj2el.web]}}}}}
